<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL CARS</title>
</head>
<body>

<div th:each="car : ${cars}">
    <a th:text="${car.getId()}">user</a>
    <a th:text="${car.getModel()}">user</a>
    <a th:text="${car.getYear()}">user</a>
</div>

<!--<div th:each="car : ${list}">-->
<!--    <a th:text="${car.getId()}">user</a>-->
<!--    <a th:text="${car.getModel()}">user</a>-->
<!--    <a th:text="${car.getYear()}">user</a>-->
<!--</div>-->
</body>
</html>